@model TechNews.Models.Account;
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main id="main" class="main">

    <div class="pagetitle">
        <a class="btn btn-1g btn-warning" href="javascript:history.back()">
            <i class="bi bi-arrow-left-circle"></i> Quay lại
        </a>
    </div>

    <section class="section">
        <div class="row">
            <div class="col">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Chỉnh sửa tài khoản</h5>

                        <!-- General Form Elements -->
                        <form asp-controller="Account" asp-action="Edit">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Tài khoản</label>
                                <div class="col-sm-10">
                                    <input asp-for="AccountId" class="form-control" disabled />
                                    <span asp-validation-for="AccountId" class="text-danger mb-4"></span>
                                    <input asp-for="AccountId" type="hidden" />
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Mật khẩu</label>
                                <div class="col-sm-10">
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger mb-4"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Tên</label>
                                <div class="col-sm-10">
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger mb-4"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input asp-for="Email" class="form-control" type="email"/>
                                    <span asp-validation-for="Email" class="text-danger mb-4"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Giới tính</label>
                                <div class="col-sm-10">
                                    <select asp-for="GenderId" class="form-select"
                                        asp-items="@(new SelectList(ViewBag.genderList, "Value", "Text"))"
                                        id="GenderId">
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Chức vụ</label>
                                <div class="col-sm-10">
                                    <select asp-for="RoleId" class="form-select"
                                        asp-items="@(new SelectList(ViewBag.roleList, "Value", "Text"))" id="RoleId">
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Ảnh đại diện</label>
                                <div class="col-sm-10">
                                    <div class="input-group-prepend mb-2">
                                        <button class="btn btn-success" type="button" onclick="openDialog()"><i
                                                class="bi bi-image"></i> Chọn ảnh</button>
                                    </div>
                                    <input asp-for="Avatar" class="form-control" id="file_input">
                                </div>
                            </div>

                            <input asp-for="AccountId" class="form-control" hidden />

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Thao tác</label>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="bi bi-floppy"></i>Lưu</button>
                                </div>
                            </div>

                        </form><!-- End General Form Elements -->
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->

@{
    var summerNote = new TechNews.Areas.Admin.Models.SummerNote("#Content");
    <partial name="_SummerNote" model="summerNote" />
}