@model TechNews.Models.Post;
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Confirm to delete a post</h2>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="PostId">PostID</label>
            <input type="text" class="form-control mb-3" asp-for="PostId" disabled />
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Title">Title</label>
            <input type="text" class="form-control mb-3" asp-for="Title" disabled />
        </div>
    </div>
    <form asp-action="Delete" method="Post">
        <input type="hidden" asp-for="MenuId" />
        <a class="btn btn-1g btn-warning p-2 mr-5" href="javascript:history.back()">
            <i class="bi bi-arrow-left-circle"></i> Go back
        </a>
        <button type="submit" class="btn btn-1g btn-danger p-2">
            <i class="bi bi-trash"></i> Delete
        </button>
    </form>
</main>