@model TechNews.Models.Menu;
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main id="main" class="main">

    <div class="pagetitle">
        <a class="btn btn-1g btn-warning" href="javascript:history.back()">
            <i class="bi bi-arrow-left-circle"></i> Quay lại
        </a>
    </div>

    <section class="section">
        <div class="row">
            <div class="col">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Tạo danh mục</h5>

                        <!-- General Form Elements -->
                        <form asp-controller="Menu" asp-action="Create">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Tên danh mục</label>
                                <div class="col-sm-10">
                                    <input asp-for="MenuName" class="form-control" required />
                                    <span asp-validation-for="MenuName" class="text-danger mb-4"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Cấp</label>
                                <div class="col-sm-10">
                                    <select asp-for="MenuId" class="form-select" required >
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Liên kết</label>
                                <div class="col-sm-10">
                                    <input asp-for="Link" class="form-control" required />
                                    <span asp-validation-for="Link" class="text-danger mb-4"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Danh mục cha</label>
                                <div class="col-sm-10">
                                    <select asp-for="ParentId" class="form-select"
                                        asp-items="@(new SelectList(ViewBag.menuList, "Value", "Text"))" id="ParentId" required >
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Thứ tự</label>
                                <div class="col-sm-10">
                                    <input asp-for="MenuOrder" class="form-control" required />
                                    <span asp-validation-for="MenuOrder" class="text-danger mb-4"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label pt-0">Hiển thị</label>
                                <div class="col-sm-10">
                                    <div class="form-check form-switch">
                                        <input asp-for="IsActive" class="form-check-input" type="checkbox" required />
                                        <label class="form-check-label">Ẩn | Hiện</label>
                                        <span asp-validation-for="IsActive" class="text-danger mb-4"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Thao tác</label>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="bi bi-floppy"></i>Lưu</button>
                                </div>
                            </div>

                        </form><!-- End General Form Elements -->
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->