@model TechNews.Models.Menu

@{
    Layout="~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h2>Add a menu item</h2>
    </div>
    <div class="container shadow p-5">
        <form method="Post" asp-action="Create">
            <div class="form-row">
                <div class="form-group col-md-6 mb-3">
                    <label>Menu name</label>
                    <input type="text" class="form-control" asp-for="MenuName" placeholder="Menu name ... ">
                    <span asp-validation-for="MenuName" class="alert-danger"></span>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label>Levels</label>
                    <select asp-for="Levels" class="form-select" id="Levels">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label>ParentID</label>
                    <select asp-for="ParentId" class="form-control"
                        asp-items="@(new SelectList(ViewBag.mnList, "Value", "Text"))">
                    </select>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>Link</label>
                    <input type="text" class="form-control" asp-for="Link" placeholder="Enter the link ... ">

                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>Menu order</label>
                    <input type="text" class="form-control" asp-for="MenuOrder" value="0"
                        placeholder="Enter the order of item ... ">

                </div>
                <div class="form-group col-md-6 mb-3">
                    <label>Position</label>
                    <input type="text" class="form-control" asp-for="Position" value="1"
                        placeholder="Enter the position ... ">

                </div>

                <div class="form-group col-md-6 mb-3">
                    <label>
                        @Html.CheckBox("IsActive", false)
                        Visible
                    </label>
                </div>
            </div>

            <a asp-controller="Menu" asp-action="Index" class="btn btn-lg btn-warning p-2">
                <i class="bi bi-arrow-left-circle"></i>
                Go back
            </a>

            <button type="submit" class="btn btn-1g btn-primary p-2">
                <i class="bi bi-file-plus-fill"></i> Save information
            </button>
    </form>
    </div>
</main>