@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/admin/lib/jqueryui/themes/themes/base/theme.css" rel="stylesheet" />
<link href="~/admin/lib/jqueryui/themes/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/admin/lib/elFinder/css/elfinder.full.css" rel="stylesheet" />
<link href="~/admin/lib/elFinder/css/theme.css" rel="stylesheet" />
<script src="~/admin/lib/snote/jquery.min.js"></script>
<script src="~/admin/lib/jqueryui/jquery-ui.js"></script>
<script src="~/admin/lib/elFinder/js/elfinder.min.js"></script>
<main id="main" class="main">
    <div id="elfinder"></div>
    <section class="section dashboard">
        <script type="text/javascript">
            $(document).ready(function () {
                var myCommands = elFinder.prototype._options.commands;

                var disabled = ['callback', 'chmod', 'editor', 'netmount', 'ping', 'search', 'zipdl', 'help'];
                elFinder.prototype.i18.en.messages.TextArea = "Edit";

                $.each(disabled, function (i, cmd) {
                    (idx = $.inArray(cmd, myCommands)) !== -1 && myCommands.splice(idx, 1);
                });

                var options = {
                    baseUrl: "@Url.Content("~/admin/lib/elFinder/")",
                    url: "@Url.Action("Connector")",
                    rememberLastDir: false,
                    commands: myCommands,
                    uiOptions: {
                        toolbar: [
                            ['back', 'forward'],
                            ['reload'],
                            ['home', 'up'],
                            ['mkdir', 'mkfile', 'upload'],
                            ['open', 'download'],
                            ['undo', 'redo'],
                            ['info'],
                            ['quicklook'],
                            ['copy', 'cut', 'paste'],
                            ['rm'],
                            ['duplicate', 'rename', 'edit'],
                            ['selectall', 'selectnone', 'selectinvert'],
                            ['view', 'sort']
                        ]
                    },
                    lang: 'vi',
                };
                $('#elfinder').elfinder(options).elfinder('instance');
            });
        </script>
    </section>  
</main>
