@model TechNews.Models.AboutUs;
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<main id="main" class="main">

    <div class="pagetitle">
        <a class="btn btn-1g btn-warning" href="javascript:history.back()">
            <i class="bi bi-arrow-left-circle"></i> Quay lại
        </a>
    </div>
    <section class="section">
        <div class="row">
            <div class="col">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Thông tin website</h5>
                        <!-- General Form Elements -->
                        <form asp-controller="AboutUs" asp-action="Edit">       
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Tên website</label>
                                <div class="col-sm-10">
                                    <input asp-for="WebName" class="form-control" />
                                    <span asp-validation-for="WebName" class="text-danger mb-4"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Đường Dẫn</label>
                                <div class="col-sm-10">
                                    <input asp-for="WebLink" class="form-control" />
                                    <span asp-validation-for="WebLink" class="text-danger mb-4"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Ảnh</label>
                                <div class="col-sm-10">
                                    <div class="input-group-prepend mb-2">
                                        <button class="btn btn-success" type="button" onclick="openDialog()"><i
                                                class="bi bi-image"></i> Chọn ảnh</button>
                                    </div>
                                    <input asp-for="Image" class="form-control" id="file_input">
                                </div>
                            </div>
                             <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Tên quản trị viên</label>
                                <div class="col-sm-10">
                                    <input asp-for="AdminName" class="form-control" />
                                    <span asp-validation-for="AdminName" class="text-danger mb-4"></span>
                                </div>
                            </div>             
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Nội dung</label>
                                <div class="col-sm-10">
                                    <input asp-for="Content" class="form-control" />
                                    <span asp-validation-for="Content" class="text-danger mb-4"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Địa chỉ</label>
                                <div class="col-sm-10">
                                    <input asp-for="Address" class="form-control" />
                                    <span asp-validation-for="Address" class="text-danger mb-4"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Số điện thoại</label>
                                <div class="col-sm-10">
                                    <input asp-for="Number" class="form-control" />
                                    <span asp-validation-for="Number" class="text-danger mb-4"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Twitter</label>
                                <div class="col-sm-10">
                                    <input asp-for="Twitter" class="form-control" />
                                    <span asp-validation-for="Number" class="text-danger mb-4"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Facebook</label>
                                <div class="col-sm-10">
                                    <input asp-for="Facebook" class="form-control" />
                                    <span asp-validation-for="Facebook" class="text-danger mb-4"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Linkedin</label>
                                <div class="col-sm-10">
                                    <input asp-for="Linkedin" class="form-control" />
                                    <span asp-validation-for="Linkedin" class="text-danger mb-4"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Youtube</label>
                                <div class="col-sm-10">
                                    <input asp-for="Youtube" class="form-control" />
                                    <span asp-validation-for="Youtube" class="text-danger mb-4"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Thao tác</label>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="bi bi-floppy"></i>Lưu</button>
                                </div>
                            </div>
                        </form><!-- End General Form Elements -->
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->

@{
    var summerNote = new TechNews.Areas.Admin.Models.SummerNote("#Content");
    <partial name="_SummerNote" model="summerNote" />
}